.error {
    padding-top: 60px;

    &__header {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
    }

    &__description {
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
    }

    &__actions {
        display: flex;
        text-align: center;
        margin-top: 30px;
        justify-content: center;
    }
    
    &__button {
        color: #fff;
        text-align: center;
    }
}
