<div class="today-info">
    <div class="today-info__cards">
        <app-days-list-day-card class="today-info__card" [title]="'lorem'" [sunriseText]="'7:00'" [sunsetText]="'21:37'"></app-days-list-day-card>
        <app-days-list-day-card class="today-info__card" [title]="'lorem'" [sunriseText]="'7:00'" [sunsetText]="'21:37'"></app-days-list-day-card>
        <app-days-list-day-card class="today-info__card" [title]="'lorem'" [sunriseText]="'7:00'" [sunsetText]="'21:37'"></app-days-list-day-card>
    </div>
</div>

<ng-template #loader>
    <app-spinner></app-spinner>
</ng-template>
