<div class="today-info">
    <div class="today-info__cards">
        <ng-container *ngIf="(sunriseSunsetItems$ | async) as sunriseSunsetItems; else pageLoader">
            <app-days-list-day-card *ngFor="let sunriseSunsetItem of sunriseSunsetItems" class="today-info__card"
                [title]="(sunriseSunsetItem.sunrise | date) ?? ''"
                [sunriseText]="(sunriseSunsetItem.sunrise | date: sunriseSunsetHourFormat) ?? ''"
                [sunsetText]="(sunriseSunsetItem.sunset | date: sunriseSunsetHourFormat) ?? ''"
            ></app-days-list-day-card>
        </ng-container>
    </div>
</div>

<ng-template #pageLoader>
    <div class="page-loader">
        <app-spinner></app-spinner>
    </div>
</ng-template>
